<div id="footer">
	<div id="external-links">
		<ul class="style">
			<li><a href="http://qemu-advent-calendar.org">Advent calendar</a></li>
			<li><a href="https://planet.virt-tools.org/">Blog planet</a></li>
			<li><a href="https://www.linux-kvm.org/">KVM</a></li>
			<li><a href="http://libguestfs.org/">Libguestfs</a></li>
			<li><a href="https://libvirt.org/">Libvirt</a></li>
			<li><a href="https://xenproject.org">Xen</a></li>
		</ul>
	</div>
	<div id="edit-page">
		<a href="https://gitlab.com/qemu-project/qemu-web/-/blob/master/{{page.path}}">page source</a>
	</div>
	<div id="conservancy">
		QEMU is a member of <a href="{{ relative_root }}/conservancy/">Software Freedom Conservancy</a>
	</div>
	<div id="licenses">
		<a href="{{ relative_root }}/license.html">Website licenses</a>
	</div>
</div>
